body{
    margin:0;
    background: linear-gradient(to right, #000000, #1976D2);
    box-sizing: border-box;
    padding: 0;
}
.logo{
    filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.8));
   
}
.popular-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(2, auto); 

  row-gap: 10px; 
  padding: 0;
  margin: 0 auto; 
  justify-items: center; 
  align-items: center; 
  max-width: 100%; 
  box-sizing: border-box; 
}

form {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center; /* Asegura que el formulario ocupe todo el ancho disponible */
}
/* MEDIA QUERIES */
@media (max-width: 1024px) {
    .popular-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas */
      gap:5px
    }
  }
  
  /* Pantallas pequeñas (móviles) - 1 columna */
  @media (max-width: 600px) {
    .popular-grid {
      grid-template-columns: 1fr; /* Una columna */
    }
  
    .popular-grid li {
      width: 90%; /* Ajusta el ancho de las tarjetas al 90% del contenedor */
      max-width: 400px; /* Limita el ancho máximo de la tarjeta */
      height: auto; /* Permite que la altura se ajuste dinámicamente */
    }
  
    .popular-grid img {
      object-fit: cover; /* Ajusta la imagen sin distorsión */
      width: 100%; /* Asegura que la imagen ocupe todo el ancho */
      height: auto; /* Mantiene la proporción de la imagen */
    }
  }